* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restartBlob {
  position: fixed;
  top: 35%;
  display: flex;
}

.textInsideBlob {
  position: fixed;
  text-align: center;
  font-size: x-large;
  text-align: center;
  top: 44%;
  display: flex;
  color: #fff;
  font-family: "Courier New", Courier;
  font-weight: bolder;
  user-select: none;
}
